
.carousel-item {
    background: no-repeat scroll center scroll;
    background-size: cover;
    -webkit-background-size: cover;
    height: 100vh;
    min-height: 300px;
}
.carousel-item::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: 0.7;
}
.carousel-caption{
    bottom: 180px;
    padding-left: 100px;
    padding-right: 100px;
}
.carousel-caption h5{
    font-size: 100px;
    font-weight: 700;

}
.carousel-caption p{
    font-size: 18px;
    top: 2rem;
}
.main-btn{
    color: #fff;
    background-color: #3a6cf4;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
}